[2015-06-14 10:40] AndyButland opened #1 "Developer version?"
This looks great and reminded me of something we discussed on the retreat this year - basically a developer versions of this, showing you all your application handlers, custom routes, hijacked routes custom content finders, events etc.  Thinking was this might be quite useful when picking up work on a site, just to see all the things that are configured and maybe not so easy to hunt down in code.

[2015-06-14 13:13] bjarnef opened #2 "Localize text"
Could we add localization for the text. At the moment we have to modify the core langauage files in /Umbraco/config/lang/ folder, but soon we can ship translations with the package (seems to be scheduled for v. 7.3.0 - http://issues.umbraco.org/issue/U4-5777)

I think Merchello actually have language files in their own folder and during install modify the core language files by adding these additi

[2015-06-15 08:06] enkelmedia commented on #1
Thank Andy! Why not!? Sounds like a great contribution if you are up for it =D I would say that we could include both of them in "The Dasboard"-package! Why not? =D

[2015-06-15 08:08] enkelmedia commented on #2
Hi!
Sounds like a good idea! I have another solution for my Newsletter Studio package that I might be able to share in this project - but even better would be to wait for the official way to do it?

[2015-06-15 08:35] bjarnef commented on #2
You can always update the views using localize element or attribute directive. Or localizationService from controller if it is needed. Maybe the packageaction could be used for versions prior Umbraco 7.3.0?

Warren added I to the Analytics package: https://github.com/warrenbuckley/Analytics/blob/develop/Analytics/InstallHelpers.cs

so maybe you could reuse some of the code for now? and when 7.3.0

[2015-06-15 08:40] enkelmedia commented on #2
Hi!
I don't think we should spend time on a solution that puts the translations in the /umbraco/-folder during install as this folder will be replaces during upgrades.

See what Warrens helper does: https://github.com/warrenbuckley/Analytics/blob/develop/Analytics/TranslationHelper.cs

So lets wait for what happens with the native translation support for packages - or if this takes to long - I'll

[2015-06-15 09:08] bjarnef commented on #2
Yea, I know it inserts/modify the core language files - that's the only way I know to use translations with packages.

During upgrade you have to merged language files anyway if you are using packages like uCommerce, Tea Commerce, Merchello, SeoChecker etc.

I am not sure what the progress is for Umbraco 7.3.0 and when the final release for 7.3.0 is planned - it seems to have issues scheuled that

[2015-06-15 09:11] enkelmedia commented on #2
True - we support for other versions would be good =D I'll include my solution in the code base during the upcoming weeks.

[2015-06-15 11:42] enkelmedia opened #5 "Install action puts dashboard on section tab"
The default installation for dashboards will put this dashboard as the last one in in list. We should implement or own action that puts it first.

Maybe use something from Warrens installer here: https://github.com/warrenbuckley/Analytics/blob/develop/Analytics/InstallHelpers.cs#L49

[2015-06-15 14:19] bjarnef commented on #2
@enkelmedia can you update the project compatible version, so the list here https://our.umbraco.org/projects/ doesn't display n/a? :)

[2015-06-15 14:22] enkelmedia commented on #2
@bjarnef did that but probably a cache or we need more votes. https://our.umbraco.org/projects/backoffice-extensions/the-dashboard/

[2015-06-15 15:00] bjarnef commented on #2
Yes, I saw that. Not sure why it isn't changes then. Could you check this issue?http://issues.umbraco.org/issueMobile/OUR-92

It shouldn't require votes to mark which versions of Umbraco the project is compatible with :)

[2015-06-15 17:28] bjarnef commented on #2
@enkelmedia the issue about the compatible versions is fixed now! :)

[2015-06-15 19:28] AndyButland commented on #1
Great, glad you think it makes sense as part of this.  Will give it some thought.

[2015-08-05 12:23] enkelmedia commented on #1
Will be included in the next release =D

[2015-08-05 13:36] enkelmedia commented on #5
Fixed in version 1.1

[2015-08-05 13:36] #5 closed

[2015-08-05 13:37] enkelmedia commented on #1
Included in latest release (v1.1): https://our.umbraco.org/projects/backoffice-extensions/the-dashboard/

[2015-08-05 13:37] #1 closed

[2015-08-15 12:59] bjarnef commented on #2
It doesn't seem that the text has been localized?
From the source here it still use hardcoded text :)

[2015-08-15 13:18] bjarnef opened #8 "Retina image of avatars"
You can use retina image for the avatars by using ```srcset``` attribute.
Then the avatars will be sharper on retina screens on tablets and phones.

Actually the natural size requested from Gravatar is 80x80px but css scale it to 55x55px .. so it would be better to request a size on 55x55px and then maybe just use ```border-radius: 50%``` for div.logitem img

2x and 3x describe the image for scree

[2015-08-16 10:41] enkelmedia commented on #8
Sounds like a good idea!

[2015-08-16 10:41] #8 closed

[2015-08-16 10:42] enkelmedia commented on #2
Thats true, I haven't had the time to add it to this project - if you are willing to create a PR I'm happy to look at it.

[2015-08-16 13:48] bjarnef commented on #2
Okay, but why not keep the issue open until it is fixed? :)

[2015-08-19 01:12] avatart0ph opened #9 "nothing shows up"
hello,

this project looks promising. but, it has caused my site to slow down significantly.
also the only thing working is in the developer section.
The content section has empty circles in it unlike your sample.

Could the slowdown be caused by errors? i found errors in the log and fixing right now then i will try reinstalling and see.
Also, any chance we can see a user dashboard?
Where it says

[2015-08-19 07:42] enkelmedia commented on #9
Hi!
If you debug the requests to the server (using Google Developer tools ie.) is it any request that take a lot of time or that throws errors? Does the content tree still work? Is it a fresh install or a web site that has "been around"? Lots of content?

Is the errors in the log related to The Dashboard or to other thing in the site? External errors should not slow down the site.

A use dashboard

[2015-08-24 18:31] avatart0ph commented on #9
hello,
It was an error in the back office that got it to work.
nothing to do with the tool.
Also, performance was perfect when i got rid of ublogsy spam comments and the members created in ublogsy. had to delete them in the database.

I have to extend your project to do the user dashboard because DEWD is no longer in umbraco 7. i previously used DEWD to pull user activities

thank you so much!:D

[2015-08-25 15:21] avatart0ph commented on #9
i finished the entire thing and even had it working! unfortunately, the table i was querying was no longer used for a long time (http://issues.umbraco.org/issue/U4-4231). I did not know this because my version of umbraco 6 was still logging information in the database. I was wondering why the current session had no entries. >_<     ....  atleast i got to experience how to modify plugins for umbrac

[2015-09-17 08:14] kipusoep opened #11 "NuGet package"
It would be great if you could create a NuGet package of this package.

[2015-09-21 12:50] enkelmedia commented on #11
True =D I think we have everything in place for that so it's just a matter of adding it to nuget =D I'll have a look when I find the time.

[2015-09-21 12:51] kipusoep commented on #11
Why close the issue when it's not resolved yet? :-/

[2015-09-21 12:52] enkelmedia commented on #11
@kipusoep haha =D To fast on the buttons =D

[2015-09-21 12:53] kipusoep commented on #11
:+1:

[2016-02-26 02:57] DavidVeksler opened #13 "dashboard does not load after 7.4.1 upgrade"
http://local.fee.org/umbraco/#/developer shows this error @
http://local.fee.org/umbraco/backoffice/api/TheDevDashboard/GetViewModel

[code]

[2016-04-01 14:37] KirschnerMatt opened #15 "Gravatar should be loaded over HTTPS"
This should be a simple fix on line 24 of \Core\UserAvatarProvider.cs

I've fixed it for my own project and will attempt a pull request. I've never done one of these before so this will be a nice learning experience.

[2016-04-01 14:47] KirschnerMatt commented on #15
Added a new pull request: https://github.com/enkelmedia/TheDashboard/pull/16

[2016-04-03 12:03] enkelmedia commented on #15
Thanks for the PR!

[2016-04-03 12:03] #15 closed

[2016-04-03 12:04] #9 closed

[2016-04-03 12:04] #13 closed

[2016-04-14 09:25] kipusoep commented on #11
Hi, any updates on this?

[2016-04-18 17:54] enkelmedia commented on #11
Nope haven't have time - if someone would like to contribute - feel free

[2016-04-18 18:57] kipusoep commented on #11
I'll have a look at it.

[2016-04-22 17:57] KirschnerMatt opened #17 "Developer tab error - ReflectionTypeLoadException"
Installing this package on Umbraco 7.4.3 will cause rendering issues and an error on the backoffice Developer tab.

The error is thrown in TheDashboard.Data.UmbracoRepository.UmbracoRepository.cs on the method GetNonCoreTypesAssignableFrom.

The error:
A first chance exception of type 'System.Reflection.ReflectionTypeLoadException' occurred in mscorlib.dll

Additional information: Unable to load o

[2016-04-25 05:53] enkelmedia commented on #17
Thanks! We'll have a look at this =D

[2016-04-25 06:44] AndyButland commented on #17
I have seen something similar with Umbraco 7.4+ and another package I work on actually.  Same thing was [reported here](https://our.umbraco.org/projects/website-utilities/personalisation-groups/issues-and-feedback/76753-anyone-tried-on-74).  Have sent you a PR that I believe should resolve the issue.

[2016-04-26 13:19] KirschnerMatt commented on #17
Andy's PR seems to have fixed the issue. Thanks, Andy!

https://github.com/enkelmedia/TheDashboard/pull/18

[2016-04-26 13:19] #17 closed

[2016-04-26 14:19] AndyButland commented on #17
Great - thanks for reporting and then updating on the fix.

[2016-04-26 14:46] KirschnerMatt opened #19 "Layout update - numbers moved to top row"
I didn't particularly care to have my recent activity shoved below Unpublished Content, as that section is quite long and I was forced to scroll to see the previously mentioned section. I went ahead and updated the layout of TheDashboard.html to better display all sections without having to scroll. If you like this (image below), I could easily reproduce my changes in a pull request.

![image](htt

[2016-05-09 17:39] enkelmedia commented on #19
Hi!

I think I like it! You're right about the fact that it's better to have them in separate columns. I would love a PR on this one =D

[2016-05-09 19:52] KirschnerMatt commented on #19
No problem. Pull request here: https://github.com/enkelmedia/TheDashboard/pull/20

[2016-07-28 18:49] #19 closed

[2016-08-16 11:38] akeilox opened #21 "How to open side panel on button click"
Guess its a valid question, how can you open the umbraco side panel dialog on button click?

New to angular and trying to make use of the dashboard with such use case (open side panel on button click with custom view)

any pointers would be appreciated!

[2016-08-16 11:47] enkelmedia commented on #21
Hi! Have a look here: https://umbraco.github.io/Belle/#/api/umbraco.services.dialogService

[2016-08-16 11:47] #21 closed

[2016-11-08 21:04] KirschnerMatt commented on #11
Any update on this? A Nuget package would make this super easy.

[2016-11-09 07:23] enkelmedia commented on #11
Hi! Still the same "status" I'm afraid. Would you like to contribute?

[2016-12-21 14:00] GaryHenshall opened #22 "Uninstall"
I have recently uninstalled this package although i think it was a very nice simple dashboard. After uninstalling it, i found that the Dashboard.config file was still looking for "The Dashboard" content "Welcome" dashboard. So i had to go in manually and remove this section.

Not a big issue, just thought i would make you aware.

Kind Regards.

[2016-12-21 14:32] enkelmedia commented on #22
Thanks!

[2017-03-17 22:28] enkelmedia commented on #2
Released with version 1.2!

[2017-03-17 22:28] #2 closed

[2017-03-17 22:28] enkelmedia commented on #2
Thanks a lot for the help @bjarnef !

[2017-03-17 22:31] enkelmedia commented on #11
Hi!

Give this a go =D

https://www.nuget.org/packages/Our.Umbraco.TheDashboard/

[2017-03-17 22:31] #11 closed

[2017-03-17 22:31] enkelmedia commented on #22
Hi again!

Thanks for reporting this. It's ben solved and included in version 1.2.

// m

[2017-03-17 22:31] #22 closed

[2017-04-19 11:01] PeteDuncanson opened #23 "Add a loading spinner to the total nodes published counters"
When you first load up the dash board on a site with a lot of content (4000+ pages) it can take a while for the totals in the circles to be populated so the whole page looks a little blank.

Would be nice to give the user a little feedback that something is happening by putting a loading spinner/throbber in the circles themselves (or similar).

Additionally could the stats not be cached so they lo

[2017-04-19 11:03] PeteDuncanson commented on #23
Possibly a message under the cached results saying "refreshing please wait" with a throbber or something to highlight that the stats might be a little out of date. If they are refreshed and stored in the cache then they would be updated by any user hitting the page so shouldn't get too out of date thinking about it. Could even save the stats to disc for super fast start up but then you'd hit issue

[2017-04-19 11:07] akeilox commented on #23
Second this. It would be great if sections support lazy loading with a spinner/message - as in current form the entire UI hangs till all of them are loaded.

[2017-04-19 13:20] enkelmedia commented on #23
Great stuff! @PeteDuncanson @akeilox
Are anyone of you keen for a PR? I might find time during the summer but not right now I'm afraid.

[2017-04-19 16:08] PeteDuncanson commented on #23
I'll take a look. Didn't post to say it needed doing right now, just logging the idea down so we don't lose it :)

[2017-04-20 09:11] enkelmedia commented on #23
@PeteDuncanson Great =D

[2017-07-12 20:29] blachawk opened #25 "Feature Request - Opening Dashboard links in separate tabs"
I just installed this package into Umbraco 7.6.3. and it works great so far in my opinion.  What developer steps can I can to modify the package so that when I click on links in the dashboard, that they open up in separate tabs, not the same window?

Thanks

[2017-07-15 17:45] enkelmedia commented on #25
Hi!
I guess you could just add target="_blank" to the links?

[2017-07-28 13:34] hotelplan-poornima opened #26 "Encrypted app settings"
Hi,

Have you thought of catering for encrypted app settings for db connection string?

Poornima

[2017-08-17 17:39] blachawk opened #27 "Feature Request - Approval Requests"
This is not an issue, but I do not see a specific place on Our Umbraco to make this request.  Would there be any plans to include a section in TheDashboard that would list all content nodes that are "waiting for approval" Perhaps this is already possible to configure and setup within the package?

I see the following in theDashboard.html file

[code]

Is there a simular thing we can do, to also ad

[2017-08-17 17:47] blachawk commented on #25
Ah yes, very easy to implement.  Thanks

[2017-08-18 07:36] enkelmedia commented on #27
Hi!

Would probably be something that can be done - the source is here on github - if you would like to implement it I'm happy to work with you on a pull request for this.

Cheers!

[2017-08-18 07:37] enkelmedia commented on #26
Hi!

Not really sure how you mean? Is there anything in our code that does not support this?

[2017-08-18 07:37] enkelmedia commented on #25
Please let me know if this works for you - might be something that we can add as a setting in the future.

[2017-09-12 14:55] mikhey opened #28 "404 Not found when using custom CMS Prefix"
I encountered an issue when using a custom cms prefix for Umbraco.  I fixed it by updating the controller.js files.  See below for the changes:

**TheDashboard.controller.js, Line 5:**
From:
`$http.get('/umbraco/backoffice/api/TheDashboard/GetViewModel')`
To:
`$http.get('backoffice/api/TheDashboard/GetViewModel')`

**TheDevDashboard.controller.js, Line 5:**
From:
`$http.get('/umbraco/backoffice/ap

[2017-10-27 13:17] enkelmedia commented on #28
Cool! Would you like to create a pull request?

[2017-10-30 12:16] mikhey commented on #28
Sure, haven't done that before tbh.  I should be able to get to it this week sometime.

[2017-11-29 16:10] blachawk opened #31 "TheDashboard not loading on Umbraco 7.6.7"
I have a fresh instance of Umbraco 7.6.7 installed.  I installed TheDashboard via Nuget
`Install-Package Our.Umbraco.TheDashboard -Version 1.2.0`

The installation reports as successful.  But when I go back into Umbraco BackOffice and visit the content section, there is no dashboard tab.

Am I missing something?

[2017-11-30 13:56] enkelmedia commented on #31
Hi!

Did you have your permissions correctly set up? The installer need to write to /config/dashboard.config

Any errors or so? Does the tab show up at all?

[2018-02-06 11:04] tom-d8 commented on #31
In recent versions of Umbraco the dashboard .config file is not updated on install. You can manually add this to the dashboard.config file to get TheDashboard to show

  <section alias="TheDashboard">
    <areas>
      <area>content</area>
    </areas>
    <tab caption="Welcome">
      <control addPanel="true" panelCaption="">/app_plugins/TheDashboard/TheDashboard.html</control>
    </tab>
  </sec

[2018-02-06 11:07] tom-d8 opened #35 "Feature Request - exclude certain users from recent activities"
We have a scheduled task to add and update nodes from an external source. This will swamp the Recent Activity list. Is there a way to exclude a specific user, even if it's just adding their Id to a config file?

TIA
t
p.s. great package, one of the first I install on new projects

[2018-02-06 13:24] enkelmedia commented on #35
Hi!
There is no setting for this at the moment, I would clean out the log after your batch-job (and maybe the content history) to avoid the db to get bloated.

[2018-02-06 15:40] enkelmedia commented on #31
@tom-d8 How do you mean with "recent versions of Umbraco"? Did something change in the core?

[2018-02-06 15:59] tom-d8 commented on #31
I assumed the exact structure of the dashboard.config file changed and that wasn't handled properly by this package, so it failed to write the necessary section. I think it happened around 6 months ago.

Of course I could be totally wrong here as I didn't investigate at the time (my bad!), but manually adding the necessary section fixed it. We start each new project from a vanilla install we have

[2018-02-06 16:31] enkelmedia commented on #31
@tom-d8  Okey I see - I have not noticed if the structure has changed - I'll check. Are you sure that you had the permissions settings right during this install? 9 out of 10 times this is the issue, that the installer don't have the right permissions to the folder.

Did you install using nuget or using the package installer in the backoffice?

[2018-02-06 16:58] tom-d8 commented on #31
Installed via Nuget.

I'm pretty sure the permissions are okay, they're standard settings we've been using for 10 years.

The Examine Management packages seems to install itself okay into the dashboard, but I'll double check both these packages in a clean install and let you know what happens

regards
t

[2018-02-06 20:04] tom-d8 commented on #31
in a fresh install of 7.8, I installed TheDashboard but it didn't update dashboard.config. I then installed Examine Management and it did update dashboard.config. Both were installed via nuget

HTH
t

[2018-02-06 20:06] tom-d8 commented on #31
p.s. I also installed the latest Nexu and it also updated dashboard.config
t

[2018-02-07 07:49] enkelmedia commented on #31
@tom-d8 Thanks for trying again - I'll have a look to see if there is something missing around this.

[2018-02-07 09:01] #26 closed

[2018-02-07 09:07] #25 closed

[2018-02-07 09:07] #27 closed

[2018-02-07 09:07] #35 closed

[2018-02-07 09:13] enkelmedia commented on #31
Hi! Turns out that there where no transformations for the nuget-package install. I've added this to v1.3. Hope this works now =D Thanks for reporting the issue!

[2018-02-07 09:13] #31 closed

[2018-02-07 09:14] enkelmedia commented on #28
Solved in V1.3, thanks for reporting the issue!

[2018-02-07 09:14] #28 closed

[2018-02-07 09:14] enkelmedia commented on #23
@PeteDuncanson Added an <umb-load-indicator> in V1.3. Thanks for reporting the issue! Cheers!

[2018-02-07 09:14] #23 closed

[2018-09-26 10:21] kieron opened #41 "How do i make this appear?"
Hi, I have installed this but can't see it anywhere, do I need to turn it on or something?

[2018-09-26 12:23] #41 closed, assigned to nobody

[2018-11-07 12:25] phunkb opened #43 "User 0 constantly Saving items"
Hi, I made a post on our.Umbraco but im not sure if the plugin is acting up;
https://our.umbraco.com/forum/using-umbraco-and-getting-started//94491-first-user-with-id-0-is-constantly-reported-as-saving-but-not-publishing-in-the-dashboard-plugin

Basically, user with ID 0 is reported as constantly saving items, but i know that nobody is doing it.

Any ideas? love the package, thank you.

[2018-11-07 15:32] enkelmedia commented on #43
Hi!

Let's talk about this in the forum first and then create an issue here if we find out that something is wrong =D

https://our.umbraco.com/forum/using-umbraco-and-getting-started//94491-first-user-with-id-0-is-constantly-reported-as-saving-but-not-publishing-in-the-dashboard-plugin

[2018-11-07 15:32] #43 closed

[2018-11-13 14:23] enkelmedia opened #44 "Add list of node ids to exclude from "unpublished""
Sometimes one might want to exclude ie a whole root page or some part of the tree from the listing in unpublished content.

Could be a setting in web.config or something on disk.

The repository could then look at the path of a node and see if this contains any excluded ids.

[2018-11-13 14:26] enkelmedia opened #45 "Only show the latest LogItem for a given nodeid"
Today we're listing all events on a node under "Recent Activities", let's say that you're saving a node and then after that publishing - in that case there will be multiple entries.

In this case we should exclude the later one since they are related.

[2018-12-28 07:34] sekmenhuseyin opened #46 "Doesn't work when Dependancy Injection is enabled with AutoFac"
I have enabled dependancy injection as shown in https://our.umbraco.com/documentation/reference/using-ioc
When I open developer page, umbraco gives an error and stops showing treelist
This is the error:

[2019-01-06 17:39] enkelmedia commented on #46
Hi!

I don't understand why this has something to do with the dashboard? This error tells you that the tree can't be loaded and the dashboard does not use any custom trees.

Most of the time the issue is that you're not serving the Umbraco-dependencies in the correct way.

[2019-01-06 17:39] #46 closed

[2020-01-13 16:11] lcichanowicz opened #47 "Umbraco 8 support?"
Greetings, @enkelmedia.  Are there plans for an Umbraco 8 version of TheDashboard?

[2020-01-13 17:47] enkelmedia commented on #47
I started to look at it a while ago but at the time there was some bugs in the "LogItemService" in the core, since then I haven't looked at it - might be in the next weeks but I can't promies =D

[2020-01-13 18:42] lcichanowicz commented on #47
Thanks for the rapid reply, @enkelmedia.  I am considering downgrading to Umbraco 7 anyway.  The general lack of packages is just too limiting.

[2020-06-16 11:51] enkelmedia commented on #45
All done in v8-version, will not update v7

[2020-06-16 11:51] #45 closed

[2020-06-16 11:52] enkelmedia commented on #47
@lcichanowicz the V8-version is not released =D Feel free to post any issues here in the issue-tracker.

All the best!

[2020-06-16 11:52] #47 closed

[2020-06-29 10:35] stefankip opened #48 "Activity missing - v8 variants"
Ola! Nice package!
I think there's some kind of issue with the activity feed; I am sure a lot of content has been created by an umbraco cloud user, but I don't see any of that on the dashboard.
Is this a known issue? Might be related to umbraco cloud, but I'm not sure.

[2020-06-29 11:19] enkelmedia commented on #48
Hi!

Thanks for reaching out!

We’re using the umbracoLog-table to fetch activity, are you sure that this data is there? Can you see the activity log on the actual content-node but not in the dashboard?

[2020-06-30 06:55] stefankip commented on #48
No problem, thank you for building this dashboard!

I ran the SQL query and there are many entries which are not shown.
Though I am unable to locate the piece of code responsible for this.
Could it be that this is caused by variants?

[2020-06-30 08:06] enkelmedia commented on #48
Hi!

We do some filtering after the query comes back, the most prominent one being that we only show the latest activity for each node, so if one save, publish, unpublish and then publish we will not show this as 4 activities, we'd only show the last publish for this node. So one node will only show once. Not sure if this is what you are seeing?

Might also be something around variants... but if y

[2020-06-30 09:01] TimGeyssens opened #49 "Idea: The Content App"
Pretty much the dashboard but on a content app, and just list activity for the stuff happening on the content node where it is placed and bellow... would make sense in multi site instances... :)

[2020-06-30 09:34] stefankip commented on #48
I sent you a tweet with a screenshot :-)

[2020-06-30 10:06] enkelmedia commented on #48
Thanks @stefankip !

Its definitely a lack of support for certain "logHeaders" related to Language Variants that is the problem here.

We need to support these types of headers as well:

* SaveVariant
* PublishVariant

Maybe more? It would also be nice to indicate the language in the activity dashboard, so when saving/publishing the "Swedish" variant this is indicated in some way. Not sure if the

[2020-07-07 08:55] ronaldbarendse commented on #48
I also don't see any activity on save/publish of culture variant pages (only a rollback). This doesn't seem to be related to Umbraco Cloud, as it also doesn't work locally; the issue title should be updated to reflect the problem that's now correctly identified.

Besides `SaveVariant`and `PublishVariant`, there's also `UnpublishVariant`: all have one or more (comma seperated) language name in the

[2020-07-07 09:01] enkelmedia commented on #48
Thanks for the update, I'll try to find some time to work on this the upcoming week, if it's urgent feel free to create a PR and I'll make sure to merge it.

[2020-07-17 08:35] enkelmedia commented on #49
While I like the idea I've decided to keep the package extremely simple. I'll keep this here as an issue but at the moment I will not work actively on it - someone (I guess me) also has to maintain, upgrade, bugfix and so on so with that in mind I want to keep the code base small and clean.

[2020-07-17 08:42] TimGeyssens commented on #49
Sure no worries, would you mind if I fork and work on that feature?

[2020-07-17 09:20] enkelmedia commented on #49
Not at all! Om not saying no to include it, just that I cant work on it right now. I would love if you where to help. Also if we could collaborate on How we solve tvings and try to re-use as much as possible of what is already there. If you start working on it maybe we could have a chat Before to figure out how to do it?

[2020-10-07 15:09] ronaldbarendse commented on #49
@TimGeyssens A content app only makes sense it it's only added to the root nodes of the different sites and shows all activity below that node (including itself).

The dashboard only shows activity for nodes you have access to (filtered by `UserToNodeAccessHelper`), so it would make more sense to filter/group the activity per site (e.g. using a dropdown). The sites/nodes should probably be manuall

[2020-10-07 17:40] TimGeyssens commented on #49
@ronaldbarendse also nice idea :)

[2020-10-07 17:41] TimGeyssens commented on #49
Indeed filtering might be a good option here... instead of content app overload

[2020-10-11 19:58] enkelmedia commented on #49
I guess that it would be quite easy to filter based on the start of the tree path for the node.

On the other hand, like @ronaldbarendse says, a user will one see what he/she has access to see so in a multi site setup i guess that all changes To nodes that I can access is relevant.

Might close this and create a new issue/feature idea for the filter.

Cheers guys!

[2020-10-12 09:36] enkelmedia opened #52 "Find a way to visualise changes to lang-variants"
Today we're filtering all events in the "timeline" to only show the latest change for each node no, so if the editor changes both the English and Swedish we'll only show that there was ONE change to this node and we'll also show the English node name.

This leaves some room for improvements here, maybe to "aggregate" any changes to multiple change versions into one.

Data looks like this

[code]

[2020-10-12 09:36] #48 closed

[2020-10-12 09:46] enkelmedia opened #53 "Add filter option for "root" site"
Idea from this issue: https://github.com/enkelmedia/TheDashboard/issues/49

Basically we're ditching the "Content App"-approach to avoid "Content App Overflow" but leaving this issue here as it might be good to be able to filter the items in the dashboard based on the root site.

The idea would be to only show nodes where the umbracoNode.path starts with a given root node.

[2020-10-12 09:46] enkelmedia commented on #49
Moved the stuff over here: https://github.com/enkelmedia/TheDashboard/issues/53

[2020-10-12 09:46] #49 closed

[2020-10-22 13:42] karlsson-mvm opened #54 "Umbraco path hardcoded"
Changing Umbraco.Core.Path doesn’t reflect on the links of Dashboard view. Looking into TheDashboard.html the href is hardcoded with the relative path /umbraco/

[2020-10-22 14:25] enkelmedia commented on #54
Hi!

Thanks for reporting!

Sounds like nice improvement, I would be happy to accept a PR if you are up for it.

Cheers!

[2020-10-23 09:07] karlsson-mvm commented on #54
Hi,
Links to all history tasks are correctly routed if I  set in web.config the key <location path = "myadminpath">
The following summary links:
/umbraco#/content/content/recyclebin
/umbraco#/member/member/list/all-members
still have "umbraco" path.
I'm sorry, but I don't have the skills for a PR...
Thanks a lot for your plugin!

[2020-10-23 09:09] enkelmedia commented on #54
Thank for the summery! We'll make sure to address this in a upcoming release.

[2020-11-10 16:20] mistyn8 opened #55 "EntityType in UmbracoLog for a site migrated from v7 to v8 is null"
Just putting this here in case there is a dashboard workaround, rather than needing to fix at source in the v7-> v8 migrations?

[2021-05-05 22:41] enkelmedia opened #56 "Migrate to umbpack"
Migrate the Umbraco Package Build to umbpack

https://our.umbraco.com/documentation/extending/Packages/UmbPack/

[2021-06-01 09:44] enkelmedia opened #57 "Hide nodes that the current User can't access"
Version 8.0.2 will show recent changes on nodes that the current User can't access.

Scenario:
* The site has multiple root tree (aka startpages) ie. for different languages
* If a User only has access to one of the trees, changes from the other will still be visible to the user

There will be a performance hit to check permissions for each node in recent list, need to test this and maybe provide

[2021-06-01 10:23] enkelmedia commented on #57
Turns out that we do check permissions using userService.GetPermissions,

How ever this does not take the users startnode into account.

[2021-06-01 11:13] enkelmedia commented on #57
Turns out there is a internal method in Umbraco ContentPermissionsHelper.HasPathAccess used in many places, ie. in the EnsureUserPermissionForContentAttribute used by the ContentService and the ContentTreeControllerBase.
There is also user.HasPathAccess() which is also internal.

All of these are internal so it does not help.

Might be that we have to "roll our own", this would mean that there is

[2021-07-09 17:10] enkelmedia commented on #55
I feel that we'll just leave this as a issue with upgrades in general. No plans to work around this specific issue at the moment.

Cheers!

[2021-07-09 17:10] #55 closed

[2021-07-09 17:11] enkelmedia commented on #56
For V9 we're using the "regular" `dotnet pack`-thing so just close this for now, no idea to upgrade V8-package build.

[2021-07-09 17:11] #56 closed

[2021-07-09 17:11] #57 closed

[2021-09-01 11:43] smarshallsay opened #59 "Problem with Umbraco 9 RC2"
TheDashboard seems to be causing issues with Smidge and not loading correctly, this is causing other dashboards to fail (Kevin Jump was kind enough to help me investigate as I initially thought it was a uSync issue)

Errors and discussion here https://our.umbraco.com/forum/umbraco-9//106992-umbraco-9-usync-dashboard-not-loading-after-publish-to-server#comment-333180

[2021-09-01 11:55] enkelmedia commented on #59
Thanks for sharing!

Seems strange, does the file exist in that folder?

From the error:
[code]

I'm thinking that there might be some issue with coping the files, also if you are on RC2 we haven't release a version that supports RC2 the current release is tested on RC1.

There is a PR that is waiting for review https://github.com/enkelmedia/TheDashboard/pull/58

[2021-09-01 12:11] smarshallsay commented on #59
Thanks for your work :)

Yes the files do exist in the app_plugins folder, I've tried uninstallng and re-installing but it does not seem to help. It did seem to work fine in RC1

[2021-09-08 09:03] colin-tactuum opened #60 "Unpublished not showing in Umbraco 8"
I have installed the package in an Umbraco 8.15.1 and 8.16 instance of Umbraco.

The Unpublished content list is always showing 0 entries even when there are unpublished content.

I have tried this in production sites as well as fresh Umbraco sites.

[2021-09-08 10:59] enkelmedia commented on #60
Thanks @colin-tactuum - not sure what has happened here - used to work on "older" versions.

I'll have a look

[2021-09-08 13:05] enkelmedia commented on #60
Ahh, @colin-tactuum after looking closer at this I think I remember the idea behind this. The header and description is miss-leading, the heading should probably say something like "Pending changes" or "Unpublished Changed" not "Unpublished Content".

So the idea is that this list should show items that has a published version but also have a saved version that is not scheduled for publishing. Umb

[2021-09-08 13:42] colin-tactuum commented on #60
Hi @enkelmedia thanks for looking at this.

Yes, this does make sense to me.  I will convey this to my client and hope that it is sufficient as I think they are used to the way it worked in Umbraco 7 (showing all "unpublished" content).

Thanks.

[2021-09-08 14:07] enkelmedia commented on #60
I see!

I'm not saying that we can't or should not ever show "All Unpublished Content" - it was not the intention of the feature but we could probably provide some way to show all unpublished content if this is something that people want.

I'll keep the issue open until the text-changes has been made and also to give you an opportunity to feed in any feedback from your client.

All the best!

[2021-09-09 07:34] colin-tactuum commented on #60
Unfortunately, my client does need it to show all unpublished content as the users currently rely on it quite heavily.  I will download the source and see what I can do myself.  Thanks

[2021-09-09 07:52] enkelmedia commented on #60
I see, the "fix" should be quite simple but I'm not sure that we should change the current feature, I think that the "bug" in that regards is the header and description - the functionality works as intended.

Maybe the list of "Unpublished Content" is it's own feature. I can how ever see one issue with this, some sites might have lots of unpublished content (we have a client with about 1000 unpubl

[2021-09-09 07:56] colin-tactuum commented on #60
I completely agree that everything is working as expected just now and it's just the header that needs changed to be clearer on what it shows.

Thanks for all your help.

[2021-09-09 07:57] enkelmedia commented on #60
But if I understood you correct you do need this feature for unpublished content?

You could create your own branch but if you are open to create a PR for this it would be create! I did some research around the SQL required to fetch unpublished content and it looks something like this:

Table: umbracoDocument

| Result              | Published | Edit |
|-------------------|---------|---------|
| P

[2021-09-12 21:29] AaronSadlerUK opened #61 "Broken in 9.0.0 RC3"
It seems to have broken in RC3, most likely needs the IUserComposer to be replaced with IComper and the dependencies bumped. =]

[code]

[2021-09-13 07:46] enkelmedia commented on #61
Thanks for letting me know, I'll try to find some time this week to update

[2021-09-13 09:06] enkelmedia commented on #61
I've pushed a new version for RC3 https://www.nuget.org/packages/Our.Umbraco.TheDashboard/9.0.0-rc003

[2021-09-13 09:06] #61 closed

[2021-09-13 09:06] enkelmedia commented on #59
Thanks for this I've just released a version for RC3 and will skip RC2.

https://www.nuget.org/packages/Our.Umbraco.TheDashboard/9.0.0-rc003

[2021-09-13 09:06] #59 closed

[2021-09-13 09:31] AaronSadlerUK commented on #61
Thanks @enkelmedia!

[2021-09-13 09:32] enkelmedia commented on #61
More than welcome =D

Let me know if you still have any issues.

Cheers!

[2021-09-20 10:55] colin-tactuum opened #63 "Users with multiple groups don't see anything"
In Umbraco 8, I have users with multiple groups.
The first group has a start node of 'Content root' (-1) and the subsequent group start nodes are children of 'Content root'.  In my case 1070.
The line of code that sets _userStartNodes in UserToNodeAccessService.cs returns 2 nodes, but both are -1.
This results in the HasAccessTo method always returning false and the user never seeing any activity

[2021-09-21 10:44] smarshallsay opened #64 "Not showing in RC3"
Hi, I tried to install the latest version 9.0.0-rc003 on Umbraco 9 RC3 but it is not showing correctly in backoffice (just get a blank 'welcome' tab).
Note I did have an older version installed and working on RC2, but removed it when it wasn't working for RC3 so I wonder if there is any leftover data somewhere? (I deleted the plugin folder and DLLs after uninstalling)
The error in the chrome conso

[2021-09-21 11:32] enkelmedia commented on #64
Looks like the js-file does not get included in the bundle, do you see the js-file on disk? Could it be cache-related? If there is a way to run without caching maybe?

[2021-09-21 12:17] smarshallsay commented on #64
the TheDashboard.controller.js is in the app_plugins\our.umbraco.thedashboard folder, chrome cache is turned off. I also tried deleting the smidge folder and restarting, which as I understand it is v9's equivalent to clientdependency

[2021-09-21 12:28] smarshallsay commented on #64
Aha I have found the issue, it seems the paths in the package.manifest are case sensitive. My App_Plugins folder is cased like this, I updated the paths in the manifest and it now works

`{
    "javascript" : [
        "/App_Plugins/Our.Umbraco.TheDashboard/TheDashboard.controller.js"
    ],
  "css": [
        "/App_Plugins/Our.Umbraco.TheDashboard/TheDashboard.css"
    ]
}`

[2021-09-21 14:12] enkelmedia commented on #64
Hmm… are you running on Windows?

[2021-09-21 14:14] smarshallsay commented on #64
Yep Windows 10

[2021-09-21 14:34] smarshallsay commented on #64
This is affecting a Windows Server machine I just dpployed to also so I don't think its an issue related to my machine

[2021-09-23 10:38] enkelmedia commented on #64
Thanks! I'll try and see if I can replicate and solve this.

[2021-09-30 07:53] olibos commented on #64
Hello,

I had the same issue, I've added a PR to fix it 😉

Have a nice day,
Olivier

[2021-09-30 09:55] enkelmedia commented on #64
Great stuff! I’ll have a look asap

[2021-10-05 21:52] #64 closed

[2021-10-05 22:13] enkelmedia commented on #64
Should be fixed by the nice updates from @olibos

[2021-10-05 22:18] olibos commented on #64
Thanks @enkelmedia , let me know when the new RC is available.

[2021-10-05 22:51] enkelmedia commented on #63
Hi!

I can confirm that having "Content Root" and another node as "Content start nodes" for a User results in no content in the dashboard.

Can I ask why you would want to combine "Content Root" and a specific node? In the scenario "Content Root" would basically do nothing as far as I can see (tested on Umbraco 8.0.0 so might have changed).

Anyway it seems that if a given node is not visible in t

[2021-10-05 23:03] enkelmedia commented on #63
Solved in V8-branch, need to check V9 as well so I'll keep the issue open.

[2021-10-05 23:04] enkelmedia commented on #53
https://github.com/enkelmedia/TheDashboard/discussions/66

[2021-10-05 23:04] #53 closed

[2021-10-05 23:05] enkelmedia commented on #52
https://github.com/enkelmedia/TheDashboard/discussions/67

[2021-10-05 23:05] #52 closed

[2021-10-05 23:21] enkelmedia commented on #63
Not sure that this really fixes the issue. Can you describe exactly how your setup looks? And what version of Umbraco 8?

[2021-10-06 10:29] colin-tactuum commented on #63
I will have time later today or tomorrow to look at this and I will get back to you.

My setup does only have one language.

[2021-10-14 06:13] AaronSadlerUK opened #68 "App Plugins folder not copied to output on publish"
When publishing an Umbraco V9 website, the App Plugins folder does not get copied to the output / publish folder

[2021-10-14 06:16] AaronSadlerUK opened #69 "Smidge can't find files"
When running an Umbraco v9 site which has been published, and the app plugins folder manually added to the publish folder.

Smidge throws an error saying it cannot find the js files, even though can can be browsed to directly.

My first thought is whether it's failing to minify the file and so throwing an error, I'm not sure though

[2021-10-14 07:14] enkelmedia commented on #69
Hmm.

Are you on the latest version? Where this issue should be fixed https://github.com/enkelmedia/TheDashboard/issues/64

[2021-10-15 14:11] smarshallsay opened #70 "Unpublished not showing in latest version of Umbraco 9"
Hi, I just installed the latest version 9.0.0 and I get the following error:

Request error: The URL returned a 404 (not found):
backoffice/api/TheDashboard/GetUnpublished

The data all shows apart from the unpublished section

[2021-10-16 14:01] drbldgtl opened #71 "File count is not output correctly in targets file"
File count is not output correctly in this line:
https://github.com/enkelmedia/TheDashboard/blob/9409837b12bd2e7a076ad5bca9b074395025fb19/Our.Umbraco.TheDashboard/build/Our.Umbraco.TheDashboard.targets#L11

Instead of outputting the number of files, it outputs the following:
`Copying Our.Umbraco.TheDashboard files: C:\Users\XXXX\.nuget\packages\our.umbraco.thedashboard\9.0.0\buildTransitive\..\App

[2021-10-25 22:19] #71 closed, assigned to nobody

[2021-10-25 22:24] #70 closed, assigned to nobody

[2022-02-09 16:07] erikjanwestendorp opened #75 "Localization: The Dashboard title/name is not translated"
The name of the dashboard is not translated

![image](https://user-images.githubusercontent.com/7831614/153240768-92b0c00c-93b6-4b27-a5a7-1318299ae2f2.png)

[2022-02-09 17:57] enkelmedia commented on #75
Thanks for reporting!

I’ll see when I can find time to fix that. Feel free to create a PR if this is urgent.

Cheers!

[2022-02-11 12:01] erikjanwestendorp commented on #75
Thanks for your reply @enkelmedia I just made a PR

[2022-06-01 07:21] seanrockster opened #78 "Strange angular error in v9.5"
Hi
I'm getting this strange error in v9.5

umbraco-backoffice-js.js.v637896646600000000:152 Error: [$controller:ctrlreg] http://errors.angularjs.org/1.8.0/$controller/ctrlreg?p0=Our.Umbraco.TheDashboard.Controller
    at umbraco-backoffice-js.js.v637896646600000000:32:168
    at umbraco-backoffice-js.js.v637896646600000000:123:19
    at ea (umbraco-backoffice-js.js.v637896646600000000:105:20)

[2022-06-01 21:37] #75 closed, assigned to nobody

[2022-06-02 13:02] seanrockster commented on #78
Yeah, you are correct. For some reason those client files are not being deployed with the site. Sorted.

[2022-07-21 09:47] smarshallsay opened #81 "Error after upgrading to 10.0.0 (from 9.0.0)"
Dashboard does not show and the following error is in the chrome JS console:
I uninstalled, deleted the thedashboard folder and reinstalled but the issue persists, rolling back to 9.0.1 does also not fix the issue?

`angular.js:15697 Possibly unhandled rejection: {"data":{"ExceptionMessage":"This instance has already started one or more requests. Properties can only be modified before sending the

[2022-08-18 10:01] enkelmedia commented on #81
Hi sorry for the late update on this.

What exact Umbraco version are you on and what database are you using?

// m

[2022-08-18 12:23] enkelmedia commented on #81
There was an issue with the HttpClient that was used to check for gravatar-images. I've made some adjustments in v10.0.1 which should solve this.

Try to upgrade and see if this solves the issue.

https://www.nuget.org/packages/Our.Umbraco.TheDashboard/

[2022-08-18 12:23] #81 closed